#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#start-btn
{
    width: 40%;
} 
#textbox
{
    width: 360px;
    height: 25px;
}
#camera
{
    width:200px;
    height: 150px;
    border:1px solid grey;
}
